@model TelerikAcademy.FinalProject.Web.Models.ShoppingCart.ContactInfoViewModel
@using TelerikAcademy.FinalProject.Web.Infrastructure.Helpers

@{
    ViewBag.Title = "CheckOut";
}

<div class="row">
    <h4>You Order</h4>
    <br />
    <br />
    @Html.Partial("_CartItemsPartials")
    <h4>Send Order</h4>
    @using (@Html.BeginForm("CheckOut", "ShoppingCart", FormMethod.Post, new { @class = "form-group", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(m => m.FirstName, new { name = "FirstName" })
            @Html.EditorFor(m => m.LastName)
            @Html.EditorFor(m => m.PhoneNumber)
            @Html.EditorFor(m => m.AddressLine)
            @Html.EditorFor(m => m.City)
            @Html.EditorFor(m => m.Area)
            @Html.EditorFor(m => m.PostCode)
            <br />
            @Html.Submit(new { value = "Complete Order" })
                @*<p><input type="submit" class="btn btn-success" value="Complete Order" name="Complete" /></p>*@
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@*<h2>Благодаря за Вашата поръчка</h2>

    <div>
        <p>Натиснете @Html.ActionLink("Тук", "Index", "Home") за да продължите</p>
    </div>*@
