@using TelerikAcademy.FinalProject.Web.Models.Home
@model ProductViewModel
@using TelerikAcademy.FinalProject.Web.Models.Category
@*@model CategoryViewModel*@

@{
    ViewBag.Title = "Products Page";
    List<CategoriesNavigationViewModel> categories = ViewData["categories"] as List<CategoriesNavigationViewModel>;
    ProductViewModel product = ViewData["product"] as ProductViewModel;
}


@using (Html.BeginForm("AddProduct", "Products", FormMethod.Post))
{
        @Html.AntiForgeryToken()

            <p>Add new Product</p>
            <p>
                @Html.Label("Name: ", new { @class = "control-label" })
                @Html.TextBox("Name", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </p>
            <p>
                @Html.Label("Category", new { @class = "control-label" })
                @Html.DropDownList("Category", new SelectList(categories, "Id", "Name"), new { @class = "form-control"})
               
            </p>
            <p>
                @Html.Label("Short Description", new { @class = "control-label" })
                @Html.TextArea("Description", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </p>
            <p>
                @Html.Label("Long Description", new { @class = "control-label" })
                @Html.TextArea("LongDescription", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LongDescription, "", new { @class = "text-danger" })
            </p>
            <p>
                @Html.Label("Picture url", new { @class = "control-label" })
                @Html.TextBox("PictureUrl", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PictureUrl, "", new { @class = "text-danger" })
            </p>
            <p>
                @Html.Label("Quantity", new { @class = "control-label" })
                @Html.TextBox("Quantity", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
            </p>
            <p>
                @Html.Label("Price", new { @class = "control-label" })
                @Html.TextBox("Price", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
            </p>
            <p>
                <input type="submit" class="btn btn-success" value="Add" name="@product" />
            </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
